============================= test session starts =============================
platform win32 -- Python 3.14.6, pytest-9.1.1, pluggy-1.6.0
rootdir: .
plugins: cov-7.1.0
collected 32 items

tests\test_logic.py ................................                     [100%]

=============================== tests coverage ================================
_______________ coverage: platform win32, python 3.14.6-final-0 _______________

Name       Stmts   Miss  Cover   Missing
----------------------------------------
logic.py     162      0   100%
----------------------------------------
TOTAL        162      0   100%
============================= 32 passed in 0.11s ==============================
