============================= test session starts =============================
platform win32 -- Python 3.14.6, pytest-9.1.1, pluggy-1.6.0
rootdir: C:\Users\Dmytro\2048-game
plugins: cov-7.1.0
collected 11 items

tests\test_logic.py ...........                                          [100%]

=============================== tests coverage ================================
_______________ coverage: platform win32, python 3.14.6-final-0 _______________

Name       Stmts   Miss  Cover
------------------------------
logic.py     135     80    41%
------------------------------
TOTAL        135     80    41%
============================= 11 passed in 0.12s ==============================
